# ===========================
# Maven Build Files
# ===========================
/target/

# ===========================
# IDE / Editor Files
# ===========================

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VSCode 
.vscode/

# ===========================
# OS / 시스템 임시파일
# ===========================
.DS_Store
Thumbs.db

# ===========================
# 로그파일 (로컬 디버깅 로그)
# ===========================
*.log


/src/test/
